absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
Babel==2.12.1
backcall==0.2.0
backports.zoneinfo==0.2.1
bce-python-sdk==0.8.79
bcrypt==4.0.0
beautifulsoup4==4.11.1
bleach==6.0.0
blinker==1.5
blis==0.7.9
boto3==1.22.9
botocore==1.25.9
bpemb==0.3.3
cachetools==5.2.0
catalogue==2.0.8
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.0.0
cogie==0.1.6
colorama==0.4.6
colorlog==6.7.0
colorlover==0.3.0
commonmark==0.9.1
confection==0.0.4
conllu==4.5.2
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.7
datasets==2.10.1
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.4
emoji==0.5.3
en-core-web-sm @ file:///data/tsq/miniconda3/pkgs/en_core_web_sm-3.5.0.tar.gz
entrypoints==0.4
extra-streamlit-components==0.1.55
faiss-cpu==1.7.2
fastapi==0.92.0
fastjsonschema==2.16.3
filelock==3.6.0
flair==0.12.1
Flask==2.2.3
Flask-Babel==2.0.0
frozenlist==1.3.3
fsspec==2023.1.0
ftfy==6.1.1
future==0.18.2
gdown==4.4.0
gensim==4.2.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.16.2
google-auth-oauthlib==0.4.6
grpcio==1.51.3
h11==0.14.0
huggingface-hub==0.10.0
hyperopt==0.2.7
idna==3.3
importlib-metadata==6.1.0
importlib-resources==5.9.0
iniconfig==1.1.1
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
itsdangerous==2.1.2
Janome==0.4.2
jedi==0.18.2
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.0
joblib==1.1.0
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-server==1.23.6
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kiwisolver==1.4.2
konoha==4.6.5
langcodes==3.3.0
langdetect==1.0.9
Levenshtein==0.20.9
lightgbm==3.3.5
lingfeat==1.0.0b19
lxml==4.8.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.1.0
matplotlib-inline==0.1.6
mistune==2.0.5
more-itertools==9.1.0
mpld3==0.3
multidict==6.0.4
multiprocess==0.70.12.2
murmurhash==1.0.9
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==2.6.3
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.2
numpy==1.21.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
openai==0.27.0
opt-einsum==3.3.0
overrides==3.1.0
packaging==21.3
paddle-bfloat==0.1.7
paddle2onnx==1.0.6
paddlefsl==1.1.0
paddlenlp==2.5.2
paddlepaddle-gpu==2.4.2.post117
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathy==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
plotly==5.13.1
pluggy==1.0.0
pptree==3.1
preshed==3.0.8
prettytable==3.6.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.0
psutil==5.9.4
ptyprocess==0.7.0
py==1.11.0
py4j==0.10.9.5
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.5
pydeck==0.8.0b3
Pygments==2.13.0
PyJWT==2.5.0
pymongo==3.12.3
Pympler==1.0.1
pyparsing==3.0.8
pyrsistent==0.18.1
PySocks==1.7.1
pysolr==3.8.1
pytest==7.1.2
python-dateutil==2.8.2
python-Levenshtein==0.20.9
pytorch-crf==0.7.2
pytorch-transformers==1.2.0
pytorch_revgrad==0.2.0
pytreebank==0.2.7
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.2
QtPy==2.3.1
rapidfuzz==2.13.7
regex==2022.10.31
requests==2.27.1
requests-oauthlib==1.3.1
responses==0.18.0
rich==12.5.1
rouge==1.0.1
rsa==4.9
s3transfer==0.5.2
sacremoses==0.0.53
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
segtok==1.5.7
semver==2.13.0
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
seqeval==1.2.2
six==1.16.0
smart-open==6.0.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlitedict==2.0.0
srsly==2.4.6
stanza==1.5.0
starlette==0.25.0
streamlit==1.20.0
streamlit-authenticator==0.2.1
streamlit-chat==0.0.1
supar==1.1.4
tabulate==0.8.9
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
terminado==0.17.1
thinc==8.1.9
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.8.0+cu111
torchaudio==0.8.0
torchtext==0.9.0
torchvision==0.9.0+cu111
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformer-smaller-training-vocab==0.2.1
transformers==4.25.1
typer==0.7.0
typing_extensions==4.2.0
tzdata==2022.2
tzlocal==4.2
urllib3==1.26.9
uvicorn==0.20.0
validators==0.20.0
visualdl==2.4.2
wasabi==1.1.1
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==4.0.5
Wikipedia-API==0.5.8
wrapt==1.14.1
xxhash==3.2.0
yarl==1.8.2
zipp==3.8.0
